header {
	color:white;
	height:70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}

.logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	font-weight: bold;
	display: block;
	margin-left: 20px;
}
