.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative; /* To position the button inside */
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* To position the popover */
    padding-left: 20px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    list-style: none;
}

.popover li {
    margin: 5px 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin: 0 0 5px;
}

.filters button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    position: absolute;
    right: 30px; /* 30px from the right border */
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); /* Center button vertically */
}

.filters button:hover {
    opacity: 0.9; /* Change opacity to 90% on hover */
}

